
.topNav{
    position: fixed;
    z-index: 99;
    background-color: var(--light-bg);
    gap: 20px;
    padding: 15px 20px;
    width: calc(100vw - 402px - ((100vw - 360px)/5)*2 );
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    transition: 0;
}

.textTopNav{
    font-size: 1.3rem;
    color : var(--light-text);
    font-weight: bold;
    display: flex;
    gap: 20px;
    align-items: center;
}

.topNav svg {
    font-size: 1.4rem;    
    cursor: pointer;
}

.topNavInNav{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.topNavInNav{
    font-size: 1rem;
    color : var(--light-text);
}

.topNavInNavLink{
    cursor: pointer;
}

.topNavInNavLink:hover{
    border-bottom: 3px solid var(--active-btn);
    opacity: 0.7;
}

.topNavInNavLinkActive{
    border-bottom: 3px solid var(--active-btn);
}

.user{
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    padding: 16px 30px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
}

.btnEdit{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: var(--light-text);
    border: 2px solid var(--light-text);
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.btnEdit:hover{
    background-color: var(--light-text);
    color: var(--light-bg);
}

.userName{
    font-size: 1.3rem;
    font-weight: bold;
    color : var(--light-text);
}

.userBio{
    color: var(--bold);
}

.user:hover{
    background-color: var(--back-bg);
}

.userImg{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

@media (max-width:1350px) {
    .topNav{
        width: calc(100vw - 360px - 43px);
    }
}

@media (max-width:950px) {
    .topNav{
        width: calc(100vw - 323px);
    }
}

@media (max-width:800px) {
    .topNav{
        width: calc(100vw - 302px);
    }
}

@media (max-width:750px) {
    .topNav{
        width: calc(100vw - 43px);
    }
}