.textTopNav{
    font-size: 1.3rem;
}

.topNav svg {
    font-size: 1.4rem;    
    cursor: pointer;
}

.topNav{
    position: fixed;
    display: flex;
    z-index: 99;
    background-color: var(--light-bg);
    color: var(--light-text);
    gap: 20px;
    padding: 15px 20px;
    align-items: center;
    width: calc(100vw - 405px - ((100vw - 360px)/5)*2 );
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    transition: 0;
}

.postContainer{
    border-right: 1px solid var(--bold);
    border-bottom: 1px solid var(--bold);
    padding: 20px 30px;
    gap: 20px;
    cursor: pointer;
}

.subPostContainer{
    border-right: 1px solid var(--bold);
    /* border-bottom: 1px solid var(--bold); */
    padding: 20px 30px;
    gap: 20px;
    cursor: pointer;
}

.subPostContainer:hover{
    background: var(--back-bg);
} 

.userTitle2{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--light-text);
}

.useInfo2{
    display: flex;
    gap: 20px;
    align-items: center;
}

.useInfo{
    display: flex;
    gap: 20px;
}

.userProfile{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subPostContainer .userProfile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.userName{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--light-text);
}

.time{
    font-size: .8rem;
    color: var(--bold);
    font-weight: bold;
}

.postInfo{
    margin-top: 14px;
    margin-left: 65px;
    font-size: 1.4rem;
    color: var(--light-text);
    pointer-events: auto;
    overflow-wrap: break-word;
    word-break: break-all;
}

.previewImg{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 65px;
    margin-top: 10px;
}

.icons{
    margin-left: 65px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon1Active{
    color: #87CEFA;
    transform: scale(1.1);
}

.icon1Active , .icon2Active , .icon3Active {
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: 0 all;
}

.icon1 svg , .icon2 svg , .icon3 svg , .icon1Active svg , .icon2Active svg , .icon3Active svg{
    font-size: 1.3rem;
}

.icon1:hover{
    color: #87CEFA;
    transform: scale(1.1);
}
.icon2:hover{
    color: #00FA9A;
    transform: scale(1.1);
}
.icon3:hover{
    color: #DC143C; 
    transform: scale(1.1);
}

.icon3Active{
    color: #DC143C;
    transform: scale(1.1);
}

.icon3Active:hover{
    transform: scale(1);
}

.icon1Active:hover{
    transform: scale(1);
}


.icon1 , .icon2 , .icon3 {
    display: flex;
    gap: 10px;
    color: var(--light-text);
    cursor: pointer;
    transition: 0 all;
}

@media (max-width:1350px) {
    .topNav{
        width: calc(100vw - 360px);
    }
}

@media (max-width:950px) {
    .topNav{
        width: calc(100vw - 280px);
    }
}

@media (max-width:750px) {
    .topNav{
        width: calc(100vw);
    }

    .postInfo{
        margin-left: 0;
    }

    .previewImg{
        margin-left: 0;
    }
}