.textTopNav{
    font-size: 1.3rem;
}

.topNav svg {
    font-size: 1.4rem;    
    cursor: pointer;
}

.topNav{
    position: fixed;
    display: flex;
    z-index: 99;
    background-color: var(--light-bg);
    gap: 20px;
    padding: 15px 20px;
    align-items: center;
    width: calc(100vw - 405px - ((100vw - 360px)/5)*2 );
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    transition: 0;
    color : var(--light-text);
}

.messageBar{
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    width: calc(100vw - 405px - ((100vw - 360px)/5)*2 );
    padding: 15px 20px;
}

.messageBar input{
    width: calc(100% - 40px);
    margin-bottom: 0;
    border-radius: 30px;
    font-weight: 100;
    padding-left: 20px;
    font-size: 1rem;
}

@media (max-width:1350px) {
    .topNav,.messageBar{
        width: calc(100vw - 400px);
    }

    .messageBar{
        border-left: 1px solid var(--border);
    }
}

@media (max-width:950px) {
    .topNav,.messageBar{
        width: calc(100vw - 280px);
    }

    .messageBar{
        border-left: 1px solid var(--border);
    }
}

@media (max-width:750px) {
    .topNav,.messageBar{
        width: calc(100vw - 40px);
    }

    .messageBar{
        border-left: 1px solid var(--border);
    }
}