.container{
    border-right: 1px solid var(--bold);
    border-bottom: 1px solid var(--bold);
    padding: 20px 30px;
    gap: 20px;
    cursor: pointer;
}

.container:hover{
    background: var(--back-bg);
}

.userProfile{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.previewImg{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 65px;
    margin-top: 10px;
}

.userName{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--light-text);
}

.time{
    font-size: .8rem;
    color: var(--bold);
    font-weight: bold;
}

.useInfo{
    display: flex;
    gap: 20px;
}

.postInfo{
    margin-top: 14px;
    margin-left: 65px;
    font-size: 1.4rem;
    color: var(--light-text);
}

.icon1:hover{
    color: #87CEFA;
    transform: scale(1.1);
}
.icon2:hover{
    color: #00FA9A;
    transform: scale(1.1);
}
.icon3:hover{
    color: #DC143C; 
    transform: scale(1.1);
}

.icon1Active{
    color: #87CEFA;
    transform: scale(1.1);
}
.icon2Active{
    color: #00FA9A;
    transform: scale(1.1);
}
.icon3Active{
    color: #DC143C;
    transform: scale(1.1);
}

.icon1Active:hover{
    transform: scale(1);
}

.icon3Active:hover{
    transform: scale(1);
}

.icons{
    margin-left: 65px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon1Active , .icon2Active , .icon3Active {
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: 0 all;
}

.icon1 , .icon2 , .icon3 {
    display: flex;
    gap: 10px;
    color: var(--light-text);
    cursor: pointer;
    transition: 0 all;
}

.icon1 svg , .icon2 svg , .icon3 svg , .icon1Active svg , .icon2Active svg , .icon3Active svg{
    font-size: 1.3rem;
}

@media (max-width:750px) {
    .previewImg{
        margin-left: 0;
    }

    .postInfo{
        margin-left: 0;
    }

    .icons{
        margin-left: 0;
    }
}


.reply{
    color: var(--bold);
}