.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--preview-img-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.aleartBox{
    background: var(--light-bg);
    /* opacity: 0.9; */
    max-width: 500px;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
}

.topAlert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff50;
}

.topLogo{
    font-size: 1.4rem;
    font-weight: bold;
}

.closeBtn{
    font-size: 1.4rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
}

.closeBtn:hover{
    background-color: #ffffff45;
}

.message{
    margin-top: 30px;
    text-align: center;
    font-size: 1.3rem;
}

.btn{
    width: 400px;
}

@media (max-width:650px){
    .aleartBox{
        margin: 0 10px;
    }
}