.container{
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    background-color: var(--back-bg);
    color: var(--light-text);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px;
    font-size: 1.2rem;
    animation: notificationAnimation 1s ease 0s normal none;
    cursor: pointer;
}

.container:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.userProfile{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textNotification{
    width: 250px;
}

.Time{
    color: var(--bold);
    font-size: .9rem;
}

@media (max-width:500px) {
    .container{
        width: calc(100vw - 80px);
        height: fit-content;
        top: 0;
        animation: notificationAnimationMobile 1s ease 0s normal none;
    }
}

@keyframes notificationAnimation {
    0.0%{
        transform: translate(0px , 50px);
        opacity: 0;
    }
    100%{
        transform: translate(0 , 0);
        opacity: 1;
    }
}

@keyframes notificationAnimationMobile {
    0.0%{
        transform: translate(0 , -50px);
        opacity: 0;
    }
    100%{
        transform: translate(0 , 0);
        opacity: 1;
    }
}