.container{
    color: var(--light-text);
}

.textTopNav{
    font-size: 1.3rem;
}

.topNav svg {
    font-size: 1.4rem;    
    cursor: pointer;
}

.topNav{
    position: fixed;
    display: flex;
    z-index: 99;
    background-color: var(--light-bg);
    gap: 20px;
    padding: 15px 20px;
    align-items: center;
    width: calc(100vw - 405px - ((100vw - 360px)/5)*2 );
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    transition: 0;
}

.coverImg{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

.coverImg svg {
    font-size: 1.4rem;
}

.profileImg{
    position: relative;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin-top: -75px;
    cursor: pointer;
    z-index: 5;
    border: 4px solid var(--light-bg);
    margin-left: 30px;
    overflow-x: visible;
}

.imgContainer{
    display: flex;
    border-right: 1px solid var(--border);
    overflow-x: visible;
}

.btnEdit{
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--light-text);
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 30px;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.btnEdit2{
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--light-text);
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 30px;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.numberFollower{
    cursor: pointer;
}

.numberFollower:hover{
    text-decoration: underline;
}

.btnEdit3{
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--light-text);
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 30px;
    margin-left: auto;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: var(--light-text);
    color: var(--light-bg);
}

.btnEdit:hover{
    background-color: var(--light-text);
    color: var(--light-bg);
}

.btnEdit2:hover{
    background-color: var(--light-text);
    color: var(--light-bg);
}

.profileInformation{
    padding-top: 16px;
    margin-left: 30px;
    border-right: 1px solid var(--border);
}

.username{
    font-size: 1.3rem;
}

.boldText{
    color: var(--bold);
}

.email{
    color: var(--bold);
    font-size: 1rem;
}

.title{
    margin-top: 20px;
}

.follower{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.navProfile{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.navProfileLink{
    width: fit-content;
    padding: 20px 0;
    cursor: pointer;
    color: var(--bold);
    font-weight: bold;
}

.navProfileLink:hover{
    background-color: var(--hover-btn);
}

.navProfileLinkActive{
    width: fit-content;
    padding: 20px 0;
    cursor: pointer;
    border-bottom: 3px solid var(--active-btn);
    font-weight: bold;
}

@media (max-width:1350px) {
    .topNav{
        width: calc(100vw - 360px);
    }
}

@media (max-width:950px) {
    .topNav{
        width: calc(100vw - 280px);
    }

    .coverImg{
        height: 150px;
    }

    .profileImg{
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }

    html {
        font-size: 16px;
    }

    .profileInformation{
        margin-left: 10px;
    }

    .profileImg{
        margin-left: 10px;
    }

    .btnEdit{
        margin-right: 10px;
    }

    .btnEdit{
        margin-top: 15px;
    }
}

@media (max-width:750px) {
    .topNav{
        width: calc(100vw);
    }
}